*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Roboto', sans-serif;
}
header{
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
    z-index: 1;
}
.navbar-nav {
    justify-content: space-between;
}
.nav-bar-right{
    gap: 10px;
}
nav{
    height: 7.2rem;
    font-size: 1.4rem;
}
.navbar__right ul{
    align-items: center;
}
.form-search-box {
    
}
.search-box{
    border-radius: 30px;
    align-self: center;
    height: 3.4rem;
    padding: 24px 34px 24px;
}
.search-box, .search-box:focus{
    box-shadow: none;
    border: black solid 1px;
}
.searchicon-Form{
    padding-top: 18px;
    padding-left: 10px ;
}
.navbar__sm{
    padding: 0 20px;
}
.navbar__sm  a{
    color: #000;
}
.navbar__sm a:nth-child(2){
    flex: 1;
    display: flex;
    justify-content: center;
}