*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}

nav{
    height: 4.5rem;
}

.search-box{
    border-radius: 20px;
}
.search-box:focus{
    box-shadow: none;
    border: black solid 1px;
}