body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    font-family: udemy sans,sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 400;
    line-height: 1.4;
  }
  
  html {
    height: -webkit-fill-available;
  }
  
.sidebar-title{
    font-family: SuisseWorks,Georgia,Times,times new roman,serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: -.05rem;
}

  main {
    height: 100vh;
    /* height: -webkit-fill-available; */
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
  }
  
  .dropdown-toggle { outline: 0; }
  
  .scrollarea {
    overflow-y: auto;
  }
  

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-pills .nav-link.active{
  background-color: #212529;
}

.pane-heading h1{
  font-family: SuisseWorks,Georgia,Times,times new roman,serif,apple color 
  emoji,segoe ui emoji,segoe ui symbol;
  font-weight: 700;
}

.container-fluid .row-wrapper{
  border-top: 1px solid #d1d7dc;
  border-bottom: 1px solid #d1d7dc;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
}

.fa-file:hover{
  cursor: pointer;
}

.table-justified{
  height: 75vh;
  overflow-y: scroll;
}

.menuBtn{
  position: absolute;
  top: 5px;
  left: 5px;
  height: 35px;
  width: 35px;
  text-align: center;
  background: #212529;
  cursor: pointer;
}

.menuBtn i{
  color: white;
  line-height: 35px;
  font-size: 24px !important;
}

.click{
  left: 330px;
}

@media only screen and (max-width: 600px) {
   /* #sidebarAdmin{
    display: none !important;
  }  */

  .table-justified {
    height: 70vh;
  }

  .menuBtn{
    display: block !important;
  }
}

.showSidebar{
  position: fixed;
  width: 375px !important;
  height: 650px !important;
}